{
  "API_BASE_URL": "https://myna-prototype-api.glassdata.ai",
  "API_PREFIX": "/api",
  # "GEMINI_API_KEY": "YOUR_GEMINI_API_KEY_HERE",
  "CONTEXT_ENGINE_URL": "https://myna-sme-dev.glassdata.ai/api",
  "BEHAVIOR_ENGINE_URL": "https://myna-sme-dev.glassdata.ai/api",
  "PRIVACY_ENGINE_URL": "https://myna-ie-dev.glassdata.ai",
  "ECOM_ENGINE_URL": "https://myna-ah-dev.glassdata.ai",
  "SAFETY_MEMORY_URL": "https://myna-sme-dev.glassdata.ai/api"
}
