# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.working.dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
Myna.V.0.1/
*.apk
# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/strings.xml
*.jks
*.keystore

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.podspec
**/ios/Flutter/bar.podspec

# Web related
.deploy/

# Local Environment Configs
.env.json

# Local Test Folder (for unit testing only, not to be pushed)
/test/


# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.apk

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# Misc
*.log
*.tmp
*.swp